<?xml version="1.0"?>
<config>
    <modules>
        <Kerss_Fblikebox>
            <version>1.0.0</version>
        </Kerss_Fblikebox>
    </modules>
    <frontend>
        <routers>
            <fblikebox>
                <use>standard</use>
                <args>
                    <module>Kerss_Fblikebox</module>
                    <frontName>fblikebox</frontName>
                </args>
            </fblikebox>
        </routers>
        <layout>
            <updates>
                <fblikebox>
                    <file>fblikebox.xml</file>
                </fblikebox>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <fblikebox>
                <class>Kerss_Fblikebox_Helper</class>
            </fblikebox>
        </helpers>
        <blocks>
            <fblikebox>
                <class>Kerss_Fblikebox_Block</class>
            </fblikebox>
        </blocks>
        <models>
            <fblikebox>
                <class>Kerss_Fblikebox_Model</class>
            </fblikebox>
        </models>
    </global>
    <default>
        <fblikebox>
            <general>
                <enable>1</enable>
                <fb_block_title>Facebook</fb_block_title>
                <fb_href></fb_href>
                <fb_width>240</fb_width>
                <fb_height>300</fb_height>
                <fb_tabs>timeline</fb_tabs>                
                <fb_small_header>false</fb_small_header>
                <fb_hide_cover>false</fb_hide_cover>
                <fb_show_faces>true</fb_show_faces>
            </general>
        </fblikebox>
    </default>
</config> 
